<% layout('layout') -%>

<!--add the search part at the beginning of the page-->
<div class="jumbotron" id="navbar-gap">
    <div class="container">
        <h1 class="text-center">Shop smart, Save Big!</h1>
        <h3 class="text-center">Find your favourite Product</h3>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="input-group col-md-12">
                    <input type="text" id="search" class="form-control input-lg" name="search_item" placeholder="Search for a Product">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary btn-lg"><i class="glyphicon glyphicon-search"></i></button>
                    </span>

                </div>
            </div>
        </div>
    </div>
</div>

<!--loop all products and list product information-->
<div class="container">
    <div class="row" id="searchResults">
        <% for(var i = 0; i < products.length; i++) { %>
        <div class="col-md-4">
            <a href="/product/<%= products[i]._id %>">
                <div class="thumbnail">
                    <img src="<%= products[i].image%>">
                    <div class="caption">
                        <h3><%= products[i].name %></h3>
                        <p><%= products[i].category.name %></p>
                        <p>$<%= products[i].price %></p>
                    </div>
                </div>
            </a>
        </div>
        <% } %>

<!--paginate items, and if the page number is bigger than 1, go to the specific url, this url is defined in routes/main-->
        <ul class="pagination text-center">

            <li>
                <!--for showing the active page number one when user doesn't click any page-->
                <% if (typeof page === 'undefined') { %>
                    <li class="page-item active">
                        <a href="/page/1">1 </a>
                    </li>
                    <% for(var i = 2 ; i < pages; i++){ %>
                    <li><a href="/page/<%= i %>"><%= i %></a></li>
                    <% } %>

                <% }else{ %>
                    <% for(var i = 1 ; i < pages; i++){ %>
                        <!--cast page to number, it is originally string-->
                        <% if(i === Number(page)){ %>
                        <li class="page-item active">
                            <a href="/page/<%= i %>"><%= i %> </a>
                        </li>
                        <% }else{ %>
                        <li><a href="/page/<%= i %>"><%= i %></a></li>
                        <% } %>
                    <% } %>
                <% } %>
            </li>
        </ul>

    </div>
</div>
